<div class="mx-auto w-[1000px]">
  <div class="flex w-full justify-between gap-2">
    <a href="mailto:mike@exmaple.com">mike@example.com</a>
    <div>
      <ul class="flex gap-2">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/projects">Project</a>
        </li>
        <li>
          <a href="/contect">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
